/* Reset and General Styles */
*, *::before, *::after {\n    margin: 0;\n    padding: 0;\n    box-sizing: border-box;\n}\n\n\nbody {\n    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */\n    line-height: 1.6;\n    color: #ecf0f1; /* Light text for dark theme */\n    background-color: #2c3e50; /* Dark background */\n    -webkit-font-smoothing: antialiased;\n    -moz-osx-font-smoothing: grayscale;\n    overflow-x: hidden;\n    transition: background-color 0.3s ease, color 0.3s ease; /* General transition */\n}
  \n\na {\n    color: #3498db; /* Blue */\n\n    text-decoration: none;\n    transition: color 0.3s ease;\n} \n\na:hover {\n    color: #2980b9; /* Darker blue */\n}\n\n/* Utility Classes */\n.container {\n    max-width: 1200px;\n    margin: 0 auto;\n    padding: 0 2rem;\n}\n\n/* Typography */\nh1, h2, h3 {\n    font-weight: 600;\n    color: #ecf0f1; /* Light text for dark theme */\n}\n\nh1 {\n    font-size: 3rem; /* Default size */\n}\n\nh2 {\n    font-size: 2.5rem; /* Default size */\n}\n\nh3 {\n    font-size: 1.8rem;\n}\n\n\np {\n    \n    font-size: 1.1rem;\n}\n\n/* Navigation */\nnav {\n    background-color: rgba(44, 62, 80, 0.9); /* Dark background with transparency */\n    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);\n    position: sticky;\n    top: 0;\n    z-index: 100;\n    padding: 1rem 0;\n    width: 100%;\n}\n\n\nnav ul {\n    list-style: none;\n    display: flex;    \n    align-items: center;\n}\n\n.hamburger {\n    display: none;\n    cursor: pointer;\n    color: #ecf0f1;\n    font-size: 1.5rem;\n    position: absolute;\n    top: 0.5rem;\n    right: 0.5rem;\n    z-index: 1000;\n    padding: 0.5rem;\n    border-radius: 5px;\n    transition: background-color 0.3s ease;\n}\n\n.hamburger.active .line {\n    background-color: #fff; /* Change color on active if needed */\n}\n\n\n}\n.nav-links-mobile {\n    display: flex;\n    flex-direction: column;\n    position: absolute;\n    top: 4rem;\n    right: 0; /* Start off screen to the right */\n    width: 0; /* initially hidden */\n    background-color: rgba(44, 62, 80, 0.9);\n    overflow: hidden; /* Hide overflow as the menu animates */\n    height: calc(100vh - 4rem);\n    transition: width 0.3s ease-in-out;\n}\n\n\nnav ul li {\n    margin: 0 1rem;\n    position: relative;\n}\n\n.nav-links {\n  display: flex; \n  justify-content: space-around;\n  align-items: center;\n}\n\n\nnav ul li a {\n    color: #ecf0f1; /* Light text for dark theme */\n    font-weight: 500;\n    padding: 0.5rem 0;\n    transition: color 0.3s ease;\n}\n\nnav ul li a:hover{\n    color: #3498db;\n}\n\n/* Sections */\nsection {\n    position: relative;\n    padding: 4rem 2rem;\n    transition: background-color 0.3s ease;\n    text-align: center;\n}\nsection:nth-child(even){\n    background-color: #34495e;\n}\nsection:not(:last-child) {\n\n    margin-bottom: 3rem; /* Adds space between sections except the last one */\n}\n\n/* Home */\n#home {\n    background-color: #34495e;\n    color: #ecf0f1;\n    padding: 10rem 2rem;\n    text-align: center;\n}\n\n#home h1 {\n    font-size: 4rem; /* Larger for impact */\n    margin-bottom: 2rem;\n}\n\n#home p {\n    \n    font-size: 1.2rem;\n    max-width: 600px;\n    margin: 0 auto;\n}\n\n\n/* About */\n#about {\n    background-color: #2c3e50;\n}\n\n\n#about h2 {\n    \n   margin-bottom: 1rem;\n}\n\n#about p {\n    font-size: 1.1rem;\n    max-width: 800px;\n    margin: 0 auto;\n}\n\n/* Skills */\n#skills {\n    background-color: #34495e;\n    padding-bottom: 6rem;\n}\n\n #skills h2{\n\n    margin-bottom: 2rem;\n\n}\n\n#skills ul {\n    list-style: none;\n    display: flex;\n    justify-content: center;\n    gap: 1rem;\n    flex-wrap: wrap;\n}\n\n#skills ul li {\n\n    background-color: rgba(255, 255, 255, 0.1); /* White with transparency for the skills boxes */\n    color: #ecf0f1; /* Light text */\n    padding: 0.7rem 1.2rem;\n    border-radius: 6px;\n    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Darker shadow */\n  }\n\n/* Projects */\n#projects {}\n\n.projects-grid {\n    display: grid;\n    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));\n    gap: 2rem;\n    margin-top: 2rem;\n}\n\n.project {   \n    background-color: rgba(255, 255, 255, 0.1); /* Transparent project card background */\n    border-radius: 10px; /* Rounded corners */\n    transition: transform 0.3s ease, box-shadow 0.3s ease;\n    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4); /* Darker shadow */\n    transition: transform 0.3s ease, box-shadow 0.3s ease;\n    overflow: hidden;\n} \n\n.project:hover {\n    transform: translateY(-8px); /* More pronounced lift effect */\n    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Darker shadow on hover */\n}\n.project .project-content {\n\n    padding: 1.5rem;\n}\nimg{\n   width: 100%;\n   height: 100%;\n   object-fit: cover;\n   display: block;\n\n}\n/* Contact */\n#contact { \n    color: #ecf0f1;\n    background-color: #34495e;\n }\n\n#contact h2 {\n    font-size: 2.5rem;\n}\n\n#contact .contact-desc{\n    font-size: 1.1rem;\n    max-width: 600px;\n    margin: 0 auto 2rem;\n}\n\n#contact form {\n    max-width: 500px;\n    margin: 0 auto;\n    display: flex;\n    flex-direction: column;\n}\n\nform{\n    margin-top: 2rem;\n}\n#contact form label {\n    margin-bottom: 0.5rem;\n    text-align: left;\n}\n\n#contact form input,#contact form textarea {\n    padding: 0.5rem;\n    margin-bottom: 1rem;\n    border: 1px solid #555; /* Darker border */\n    border-radius: 6px;\n    background-color: #444; /* Darker background for inputs */\n    color: #ecf0f1; /* Light text */\n}\n\n#contact form button {\n    background-color: #5cb85c;\n    color: #ecf0f1;\n    padding: 0.7rem 1.5rem;\n    border: none;\n    border-radius: 5px;\n    cursor: pointer;\n    font-size: 1.1rem;\n}\n\n/* Day/Night Mode Toggle Button */\n.toggle-container {\n    position: absolute; /* Changed to absolute */\n    top: 0.5rem; /* Adjust as needed */\n    left: 0.5rem; /* Adjust as needed */\n    z-index: 101;\n  }\n  \n  .toggle-btn {\n    background-color: #fff;\n    color: #333;\n    border: none;\n    padding: 0.5rem 1rem;\n    border-radius: 5px;\n    cursor: pointer;\n    transition: background-color 0.3s ease, color 0.3s ease;\n  }\n\n\n/* Responsive Design */\n@media (max-width: 768px) {\n     /* Hamburger menu icon */\n   .hamburger{\n        display: block;\n   }\n    .nav-container {\n      padding: 0 1rem;\n   }\n    .nav-links {\n        display: none; /* Hide the regular menu */\n   }\n \n    \n    /* Mobile Navigation Links */\n    .nav-links-mobile {\n        justify-content: start;\n        position: fixed;\n        top: 4rem; \n        left: 0; \n        width: 100%; /* Initially hidden */\n        height: calc(100vh - 4rem); /* Full viewport height */\n       \n        display: none;\n        z-index: 99;\n        \n        background-color: rgba(44, 62, 80, 0.8);\n        transition: width 0.3s ease-in-out; /* Animate the width */\n        overflow: hidden; /* Hide menu items until expanded */\n    }\n\n    .nav-links-mobile.show {\n        width: 50%; /* Expand to cover half the screen */\n    }\n\n    .nav-links-mobile li a {\n        display: block;\n        padding: 1rem;\n        text-align: center;\n        width: 100%;\n    }\n  \n\n    /* Adjust Navigation padding on smaller screens */\n    nav {\n        padding: 0;\n    }\n\n    #home h1 {\n        font-size: 2.5rem; \n    }\n    #home p {\n        font-size: 1rem;\n    }\n    /* Smaller heading for smaller screens */\n    h1 {\n        font-size: 2.2rem; /* Smaller heading for smaller screens */\n    }\n    h2 {\n        font-size: 2rem; /* Smaller heading for smaller screens */\n    }\n    p {\n      font-size: 0.9rem;\n    }\n    /* Sections */\n    section {\n        padding: 2.5rem 1rem; /* Reduced padding */\n    }\n   \n   /* Projects */\n   .projects-grid {\n       grid-template-columns: 1fr; /* Stack projects vertically */\n    }\n    .nav-links-mobile.show {\n        transform: translateX(0); /* Show the menu */\n        display: flex;\n    }\n}\n\n/* Day/Night Mode */\n.day-mode {\n    background-color: #f8f8f8;\n    color: #333;\n}\n\n.day-mode .toggle-btn {\n    background-color: #333;\n    color: #fff;\n}\n\n.day-mode a,\n.day-mode h1,\n.day-mode .hamburger,\n.day-mode h2,   \n.day-mode h3,\n.day-mode .hamburger{\n    color: #333;\n}\n\n")
*, *::before, *::after {\n    margin: 0;\n    padding: 0;\n    box-sizing: border-box;\n}\n\n\nbody {\n    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */\n    line-height: 1.6;\n    color: #2c3e50; /* Dark text */\n    background-color: #f4f7f6; /* Light neutral background */\n    -webkit-font-smoothing: antialiased;\n    -moz-osx-font-smoothing: grayscale;   \n    overflow-x: hidden;\n    transition: background-color 0.3s ease, color 0.3s ease; /* General transition */ \n}   \n\n/* Links */\na {\n  color: #3498db; /* Cool blue */\n  text-decoration: none;\n  transition: color 0.3s ease; /* Smooth color transition on hover */\n}\n\na:hover {\n    color: #2980b9; /* Darker blue on hover */\n}\n\n/* Utility Classes */\n.container {\n    max-width: 1200px;\n    margin: 0 auto;\n    padding: 0 2rem; \n}\n\n/* Typography */\nh1, h2, h3 {\n    font-weight: 600;\n    color: #243b47; /* Dark headings */\n}\n\nh1 {\n    font-size: 3rem;\n}\n\nh2 {\n    font-size: 2.5rem; /* Default size */\n}\n\nh3 {\n    font-size: 1.8rem;\n}\n\n\np {\n    font-size: 1.1rem;   \n}\n\n/* Navigation */\nnav {\n    background-color: rgba(244, 247, 246, 0.95); /* Light neutral background with transparency */\n    box-shadow: 0 2px 5px rgba(44, 62, 80, 0.2); /* Dark shadow */\n    position: sticky;\n     top: 0;\n    z-index: 100;\n    padding: 1rem 0;\n    width: 100%;\n}\n\n\nnav ul {\n    list-style: none;\n    display: flex;    \n    align-items: center;\n}\n\n.hamburger {\n    display: block; \n    cursor: pointer;   \n    color: #243b47; /* Dark color for the hamburger icon */\n    font-size: 1.5rem;\n    position: absolute;\n      top: 0.5rem;\n      right: 0.5rem;\n    z-index: 1000;\n    padding: 0.5rem;\n    border-radius: 5px;\n    transition: background-color 0.3s ease;\n}\n\n.hamburger.active .line {\n\n    background-color: #fff; /* Change color on active if needed */\n}\n\n.nav-links-mobile {\n    display: flex;\n    flex-direction: column;\n    position: absolute;\n    top: 4rem;\n     right: 0; /* Start off screen to the right */\n      width: 0; /* initially hidden */\n     background-color: rgba(44, 62, 80, 0.9); /* Dark background for mobile menu */\n    overflow: hidden; /* Hide overflow as the menu animates */  \n    height: calc(100vh - 4rem);\n    transition: width 0.3s ease-in-out;\n    \n}\n\n\nnav ul li {\n    margin: 0 1rem;\n    position: relative;\n}\n\n.nav-links {\n  display: flex; \n  justify-content: space-around;\n  align-items: center;\n} \n\nnav ul li a {\n    color: #2c3e50; /* Dark text for navigation links */\n    font-weight: 500;\n    padding: 0.5rem 0;\n    transition: color 0.3s ease; \n}\n\nnav ul li a:hover {\n    color: #0077cc; /* Blue on hover */\n}\n\n/* Sections */\nsection {\n    position: relative;\n       padding: 4rem 2rem;\n    transition: background-color 0.3s ease;\n    text-align: center;\n}\n\nsection:nth-child(even) {\n    background-color: #e6f2f0; /* Light teal for even sections */\n}\nsection:not(:last-child) {\n    margin-bottom: 3rem;\n}\n/* home section */\n/* Home */\n#home {\n    background-color: #cce2dc; /* Soft blue-green for the home section */\n    color: #2c3e50;\n    padding: 10rem 2rem;\n    text-align: center;\n}\n\n#home h1 {\n    font-size: 4rem; /* Larger for impact */\n   margin-bottom: 2rem;\n}\n\n#home p {\n    \n    font-size: 1.2rem;\n     max-width: 600px;\n      margin: 0 auto;\n}\n\n\n\n\n/* About */\n#about {\n    background-color: #e6f2f0; /* Light teal for the about section */\n}\n\n\n#about h2 {\n    margin-bottom: 1rem;\n}\n\n#about p {\n    font-size: 1.1rem;\n    max-width: 800px;\n    margin: 0 auto;\n}\n\n/* Skills */\n#skills {\n    background-color: #f4f7f6; /* Light neutral background for the skills section */\n    padding-bottom: 6rem;\n}\n\n #skills h2{\n\n    margin-bottom: 2rem;\n\n}\n\n#skills ul {\n    list-style: none;\n    display: flex;\n    justify-content: center;\n    gap: 1rem;\n    flex-wrap: wrap;    \n}\n\n#skills ul li {\n    background-color: #cce2dc; /* Soft blue-green for skill items */\n    color: #2c3e50;\n\n    padding: 0.7rem 1.2rem; \n    border-radius: 6px;\n    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Darker shadow */\n  }\n\n/* Projects */\n#projects {}\n\n.projects-grid {\n    display: grid;\n    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));\n    gap: 2rem;\n    margin-top: 2rem;\n}\n\n.project {  \n     background-color: #f4f7f6; /* Light neutral for project cards */\n    border-radius: 10px;\n    transition: transform 0.3s ease, box-shadow 0.3s ease;\n     box-shadow: 0 4px 8px rgba(44, 62, 80, 0.2);\n   \n}\n\n.project:hover { \n    transform: translateY(-8px); /* More pronounced lift effect */\n    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Darker shadow on hover */    \n}\n.project .project-content {\n\n    padding: 1.5rem;\n}\nimg{\n   width: 100%;\n   height: 100%;\n   object-fit: cover;\n   display: block;\n\n}\n/* Contact */\n#contact {\n    color: #2c3e50;\n    background-color: #e6f2f0; /* Light teal for the contact section */\n }\n\n#contact h2 {\n    font-size: 2.5rem;\n}\n\n#contact .contact-desc{\n    font-size: 1.1rem;\n    max-width: 600px;\n    margin: 0 auto 2rem;\n}\n\n#contact form {\n    max-width: 500px;\n    margin: 0 auto;\n    display: flex;\n    flex-direction: column;\n}\n\nform{\n    margin-top: 2rem;\n}\n#contact form label {\n    margin-bottom: 0.5rem;\n    text-align: left;\n}\n\n#contact form input,#contact form textarea {\n    padding: 0.5rem;\n    margin-bottom: 1rem;\n     border: 1px solid #cce2dc; /* Soft blue-green border */\n    border-radius: 6px;\n    background-color: #f4f7f6; /* Light neutral background for inputs */\n    color: #2c3e50; /* Dark text for inputs */\n}\n\n#contact form button, .toggle-btn {  \n     background-color: #3498db; /* Cool blue button */\n    color: #fff; /* White text for buttons */ \n    padding: 0.7rem 1.5rem;\n    border: none;\n    border-radius: 5px;\n    cursor: pointer;\n    font-size: 1.1rem;\n\n}\n\n/* Day/Night Mode Toggle Button */\n.toggle-container {\n    position: absolute; /* Changed to absolute */\n    top: 0.5rem; /* Adjust as needed */\n    left: 0.5rem; /* Adjust as needed */\n    z-index: 101;\n  }\n  \n  .toggle-btn {\n    background-color: #f4f7f6; /* Light neutral for the toggle button */\n    color: #2c3e50; /* Dark text */\n     border: none;\n    padding: 0.5rem 1rem;\n    border-radius: 5px;\n    cursor: pointer;\n     transition: background-color 0.3s ease, color 0.3s ease;\n\n  }\n.toggle-btn:hover{background-color: #00627a;}\n\n/* Responsive Design */\n@media (max-width: 768px) {\n   \n      .nav-container {\n      padding: 0 1rem;\n   }\n    .nav-links {\n        display: none; /* Hide the regular menu */\n   }\n \n    \n   /* Mobile Navigation Links */\n    .nav-links-mobile {\n        justify-content: start;\n        position: fixed;\n        top: 4rem; /* Below the header */\n        left: 0;\n        width: 100%; /* Full width */\n        \n        height: calc(100vh - 4rem); /* Full viewport height */\n       \n        display: none; /* Hide by default */\n          z-index: 99;\n        padding: 0;\n        \n        background-color: rgba(36, 59, 71, 0.8);\n        transition: width 0.3s ease-in-out; /* Animate the width */\n        overflow: hidden; /* Hide menu items until expanded */\n    }\n   \n\n     .nav-links-mobile.show {           \n            width: 100%; /* Expand to cover full screen */\n        }   \n\n    .nav-links-mobile li a {\n        display: block;\n        padding: 1rem;\n        text-align: center;\n        width: 100%;\n   }\n\n   nav ul{flex-direction: column;}\n     .nav-links {\\n        display: none; /* Hide the regular menu */\\n   }\n   .hamburger{\n        display: block;\n   }\n    /* Adjust Navigation padding on smaller screens */\n    nav {\n        padding: 0;\n    }\n\n    #home h1 {\n        font-size: 2.5rem; \n    }\n    #home p {\n        font-size: 1rem;\n    }\n    /* Smaller heading for smaller screens */\n    h1 {\n        font-size: 2.2rem; /* Smaller heading for smaller screens */\n    }\n    h2 {\n        font-size: 2rem; /* Smaller heading for smaller screens */\n    }\n    p {\n      font-size: 0.9rem;\n    }\n    /* Sections */\n    section {\n        padding: 2.5rem 1rem; /* Reduced padding */\n    }\n\n   /* Projects */\n   .projects-grid {\n       grid-template-columns: 1fr; /* Stack projects vertically */\n    }\n\n}\n\n/* light-dark-mode */\n.day-mode {\n    background-color: #f4f7f6; /* Light neutral background */\n     color: #2c3e50; /* Dark text */\n} \n\n/* Light Text for light mode */\n.day-mode a,\n.day-mode li a,\n.day-mode h1,\n.day-mode h2,\n.day-mode h3,\n.day-mode .hamburger,\n{\n    color: #2c3e50;\n} \n\n")
    background-color: #f4f7f6; /* Light neutral background */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
    overflow-x: hidden;
    transition: background-color 0.3s ease, color 0.3s ease; /* General transition */ 
}   

/* Links */
a {
  color: #3498db; /* Cool blue */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

a:hover {
    color: #2980b9; /* Darker blue on hover */
}

/* Utility Classes */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem; 
}

/* Typography */
h1, h2, h3 {
    font-weight: 600;
    color: #243b47; /* Dark headings */
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem; /* Default size */
}

h3 {
    font-size: 1.8rem;
}


p {
    font-size: 1.1rem;   
}

/* Navigation */
nav {
    background-color: rgba(244, 247, 246, 0.95); /* Light neutral background with transparency */
    box-shadow: 0 2px 5px rgba(44, 62, 80, 0.2); /* Dark shadow */
    position: sticky;
     top: 0;
    z-index: 100;
    padding: 1rem 0;
    width: 100%;
}


nav ul {
    list-style: none;
    display: flex;    
    align-items: center;
}

.hamburger {
    display: block; 
    cursor: pointer;   
    color: #243b47; /* Dark color for the hamburger icon */
    font-size: 1.5rem;
    position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    z-index: 1000;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hamburger.active .line {

    background-color: #fff; /* Change color on active if needed */
}

.nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
     right: 0; /* Start off screen to the right */
      width: 0; /* initially hidden */
     background-color: rgba(44, 62, 80, 0.9); /* Dark background for mobile menu */
    overflow: hidden; /* Hide overflow as the menu animates */  
    height: calc(100vh - 4rem);
    transition: width 0.3s ease-in-out;
    
}


nav ul li {
    margin: 0 1rem;
    position: relative;
}

.nav-links {
  display: flex; 
  justify-content: space-around;
  align-items: center;
} 

nav ul li a {
    color: #2c3e50; /* Dark text for navigation links */
    font-weight: 500;
    padding: 0.5rem 0;
    transition: color 0.3s ease; 
}

nav ul li a:hover {
    color: #0077cc; /* Blue on hover */
}

/* Sections */
section {
    position: relative;
       padding: 4rem 2rem;
    transition: background-color 0.3s ease;
    text-align: center;
}

section:nth-child(even) {
    background-color: #e6f2f0; /* Light teal for even sections */
}
section:not(:last-child) {
    margin-bottom: 3rem;
}
/* home section */
/* Home */
#home {
    background-color: #cce2dc; /* Soft blue-green for the home section */
    color: #2c3e50;
    padding: 10rem 2rem;
    text-align: center;
}

#home h1 {
    font-size: 4rem; /* Larger for impact */
   margin-bottom: 2rem;
}

#home p {
    
    font-size: 1.2rem;
     max-width: 600px;
      margin: 0 auto;
}




/* About */
#about {
    background-color: #e6f2f0; /* Light teal for the about section */
}


#about h2 {
    margin-bottom: 1rem;
}

#about p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Skills */
#skills {
    background-color: #f4f7f6; /* Light neutral background for the skills section */
    padding-bottom: 6rem;
}

 #skills h2{

    margin-bottom: 2rem;

}

#skills ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;    
}

#skills ul li {
    background-color: #cce2dc; /* Soft blue-green for skill items */
    color: #2c3e50;

    padding: 0.7rem 1.2rem; 
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Darker shadow */
  }

/* Projects */
#projects {}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.project {  
     background-color: #f4f7f6; /* Light neutral for project cards */
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
     box-shadow: 0 4px 8px rgba(44, 62, 80, 0.2);
   
}

.project:hover { 
    transform: translateY(-8px); /* More pronounced lift effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Darker shadow on hover */    
}
.project .project-content {

    padding: 1.5rem;
}
img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;

}
/* Contact */
#contact {
    color: #2c3e50;
    background-color: #e6f2f0; /* Light teal for the contact section */
 }

#contact h2 {
    font-size: 2.5rem;
}

#contact .contact-desc{
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto 2rem;
}

#contact form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form{
    margin-top: 2rem;
}
#contact form label {
    margin-bottom: 0.5rem;
    text-align: left;
}

#contact form input,#contact form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
     border: 1px solid #cce2dc; /* Soft blue-green border */
    border-radius: 6px;
    background-color: #f4f7f6; /* Light neutral background for inputs */
    color: #2c3e50; /* Dark text for inputs */
}

#contact form button, .toggle-btn {  
     background-color: #3498db; /* Cool blue button */
    color: #fff; /* White text for buttons */ 
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;

}

/* Day/Night Mode Toggle Button */
.toggle-container {
    position: absolute; /* Changed to absolute */
    top: 0.5rem; /* Adjust as needed */
    left: 0.5rem; /* Adjust as needed */
    z-index: 101;
  }
  
  .toggle-btn {
    background-color: #f4f7f6; /* Light neutral for the toggle button */
    color: #2c3e50; /* Dark text */
     border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
     transition: background-color 0.3s ease, color 0.3s ease;

  }
.toggle-btn:hover{background-color: #00627a;}

/* Responsive Design */
@media (max-width: 768px) {
   
      .nav-container {
      padding: 0 1rem;
   }
    .nav-links {
        display: none; /* Hide the regular menu */
   }
 
    
   /* Mobile Navigation Links */
    .nav-links-mobile {
        justify-content: start;
        position: fixed;
        top: 4rem; /* Below the header */
        left: 0;
        width: 100%; /* Full width */
        
        height: calc(100vh - 4rem); /* Full viewport height */
       
        display: none; /* Hide by default */
          z-index: 99;
        padding: 0;
        
        background-color: rgba(36, 59, 71, 0.8);
        transition: width 0.3s ease-in-out; /* Animate the width */
        overflow: hidden; /* Hide menu items until expanded */
    }
   

     .nav-links-mobile.show {           
            width: 100%; /* Expand to cover full screen */
        }   

    .nav-links-mobile li a {
        display: block;
        padding: 1rem;
        text-align: center;
        width: 100%;
   }

   nav ul{flex-direction: column;}
     .nav-links {\n        display: none; /* Hide the regular menu */\n   }
   .hamburger{
        display: block;
   }
    /* Adjust Navigation padding on smaller screens */
    nav {
        padding: 0;
    }

    #home h1 {
        font-size: 2.5rem; 
    }
    #home p {
        font-size: 1rem;
    }
    /* Smaller heading for smaller screens */
    h1 {
        font-size: 2.2rem; /* Smaller heading for smaller screens */
    }
    h2 {
        font-size: 2rem; /* Smaller heading for smaller screens */
    }
    p {
      font-size: 0.9rem;
    }
    /* Sections */
    section {
        padding: 2.5rem 1rem; /* Reduced padding */
    }

   /* Projects */
   .projects-grid {
       grid-template-columns: 1fr; /* Stack projects vertically */
    }

}

/* light-dark-mode */
.day-mode {
    background-color: #f4f7f6; /* Light neutral background */
     color: #2c3e50; /* Dark text */
} 

/* Light Text for light mode */
.day-mode a,
.day-mode li a,
.day-mode h1,
.day-mode h2,
.day-mode h3,
.day-mode .hamburger,
{
    color: #2c3e50;
} 
